{% extends 'base.html' %}

{% block content %}
    <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Taste that lasts</p>
                </div>
            </div>
        </header>
    
    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br/><br/>
                    <p align="justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at dictum elit, sed malesuada ex. Vivamus viverra ultrices ex vitae dignissim. Sed tellus ligula, facilisis non condimentum et, tempus auctor sapien. Fusce tempor aliquet turpis, sed laoreet quam maximus feugiat. Sed eros elit, iaculis a molestie at, accumsan at velit. Suspendisse eu orci nulla. Sed consequat eleifend neque id blandit. Fusce sed sapien leo. Proin euismod, eros eget imperdiet porttitor, eros enim fermentum diam, vel ornare felis ex at nulla. Mauris a pretium est. Ut nunc nibh, volutpat non viverra eget, varius ac nulla. Proin eget tincidunt quam. Donec sit amet feugiat ligula, ut efficitur justo. Sed quis dictum leo.

Aliquam sit amet arcu lectus. Mauris ullamcorper orci nec risus facilisis finibus. Morbi mi magna, feugiat et egestas quis, auctor vitae ex. Nullam sit amet dolor sed nibh dapibus tristique id nec felis. Quisque aliquam neque quis nibh venenatis, ac ornare justo hendrerit. Praesent eu dui urna. Nullam interdum ut purus eget cursus. Vivamus consequat sem a nulla malesuada, sit amet condimentum urna vestibulum. Aenean eleifend, odio sit amet eleifend interdum, nibh felis interdum massa, placerat cursus quam augue et lectus. Mauris eu consectetur nisi. Morbi iaculis ac ligula vel ultricies. Aliquam porta posuere lectus ullamcorper placerat. Maecenas vulputate molestie enim, non pulvinar purus consectetur eget. In hac habitasse platea dictumst.

Ut dignissim lobortis porttitor. Phasellus venenatis dui nec ligula mollis, at iaculis nisi blandit. Duis non diam sodales, suscipit nibh eu, scelerisque augue. Quisque sollicitudin non purus id dictum. In non turpis elit. Phasellus mattis in mauris at accumsan. Curabitur aliquam, eros ut imperdiet porttitor, velit dolor viverra augue, eget consectetur elit nibh id odio.

Proin tincidunt sodales turpis ut tempor. Sed et laoreet turpis, sed consectetur metus. Integer finibus hendrerit justo, eu hendrerit massa vehicula non. Vivamus sit amet finibus arcu, sed ornare mi. Etiam malesuada volutpat consectetur. Nulla tortor sapien, condimentum et eros faucibus, fringilla ullamcorper sapien. Suspendisse quam dolor, lacinia vitae tincidunt ut, vestibulum at nunc. In rhoncus interdum laoreet. Nunc lacinia, ipsum vitae tempus rhoncus, arcu diam egestas arcu, nec pellentesque purus erat sollicitudin dui. Maecenas felis sem, ultricies non massa eget, mollis euismod nunc. Morbi eget justo mi. Praesent non nibh tempor massa maximus lacinia fringilla id purus. Nam id tellus sollicitudin, tempor lectus non, cursus erat. Sed sed egestas diam.

Duis felis ante, pharetra id dolor et, scelerisque consectetur metus. In hac habitasse platea dictumst. Sed et mauris quis leo malesuada vehicula. Quisque non commodo metus. Proin risus orci, vulputate non justo quis, finibus sollicitudin ante. Duis quis consectetur nisl. Proin luctus vehicula augue feugiat sodales. Aliquam accumsan varius neque, malesuada vulputate lectus. Curabitur eu ipsum magna. Aliquam sed ante leo. Proin facilisis eros nec erat convallis vestibulum. Mauris condimentum ligula odio, at blandit diam accumsan a. Sed id consequat arcu, ut tristique purus.


                    </p>
                    <br/><br/>
                </div>
            </center>
        </div>
    </div>
{% endblock %}