{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <br/><br><br/><br/><br/><br/><br/>
        <div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ wine.image.url }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
                 <center>
        <h5 class="card-title">{{ wine.title }}</h5>
        <p class="card-text">{{ wine.description }}</p>
                     {% if wine.is_sale %}
                        <div class="text-center">
                                    <br/>
                                    <strike>{{ wine.price }} BGN</strike>
                                    {{ wine.sale_price }} BGN
                                    <br>
                        </div>
                     {% else %}
                         <div class="text-center">
                         <br/>
                                    {{ wine.price }} BGN
                         <br/>
                         </div>
                     {% endif %}
                  <br/><br/><br/><br/>
                 <div class="row justify-content-center">
                     <div class="col-md-2">Quantity</div>
                     <div class="col-md-2">
                    <select class="form-select form-select-sm" id="qty-cart">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                     </div>
                     </div>
                 </div>
        <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
                 <button type="button" value="{{ wine.id }}" class="btn btn-secondary" id="add-cart">Add to cart</button>
                 </center>
      </div>
    </div>
  </div>
</div>
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    
<script>
// Check if button pressed
$(document).on('click', '#add-cart', function(e){
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: '{% url 'cart_add' %}',
        data: {
    wine_id: $('#add-cart').val(),
    wine_qty: $('#qty-cart option:selected').text(),
    csrfmiddlewaretoken: '{{ csrf_token }}',
    action: 'post'
        },

        success: function(json){
            //console.log(json)
            document.getElementById("cart_quantity").textContent = json.qty
            location.reload();
        },

        error: function(xhr, errmsg, err){

        }


    });



})




</script>

{% endblock %}